@(message: String) @main(" - CGU") {
<h1>Conditions G&eacute;n&eacute;rales d'Utilisation</h1>
<br/>
<strong>Article 1.</strong><br/>
En vous inscrivant, vous vous engagez &agrave; respecter la pr&eacute;sente charte, ainsi que les autres joueurs et &agrave; vous exprimer dans un fran&ccedil;ais correct et
sans violence verbale. Tout manquement sera sanctionn&eacute;. 
<br/><br/>
<strong>Article 2.</strong><br/>
Vos comptes sont la propri&eacute;t&eacute; de Aerilys. A tout moment nos administrateurs peuvent s'octroyer le droit de suspendre temporairement
ou d&eacute;finitivement vos comptes en cas de non-respect du r&egrave;glement, et ce quelque soit le temps ou l'investissement accord&eacute; par le joueur &agrave; son compte.
<br/><br/>
<strong>Article 3.</strong><br/>
A la suite de l'article 2, Les comptes &eacute;tant "pr&ecirc;t&eacute;s", la vente de compte en argent r&eacute;el est interdite et entrainera la fermeture d&eacute;finitive des dit-comptes au moyen de wookies.
<br/><br/>
<strong>Article 4.</strong><br/>
Vous vous engagez &eacute;galement &agrave; respecter les r&egrave;gles du jeu en vigueur. Tout exploitation de bug, de faille ou de moyens divers pour contourner les r&egrave;gles du jeu entrainera une fermeture des comptes fraudeurs, voire l'envoi d'un Dalek &agrave; votre domicile.
Par ailleurs, les logiciels tiers seront &eacute;galement causes de fermeture d&eacute;finitive sans pr&eacute;avis.
<br/><br/>
<strong>Article 5.</strong><br/>
Aucune donn&eacute;e personnelle n'est conserv&eacute;e. De plus, aucune donn&eacute;e de localisation n'est gard&eacute;e.
<br/><br/>
<strong>Article 6.</strong><br/>
Vous vous engagez &eacute;galement &agrave; respecter la charte en ce qui concerne les noms de comptes, villes, personnages etc. que vous aurez l'occasion de choisir par vous-m&ecirc;me.
Tout nom jug&eacute; hors charte par les administrateurs entrainera automatiquement une demande de "rename" sous peine de suppression du compte fautif.
<br/><br/>
<strong>Article 7.</strong><br/>
Aerilys d&eacute;cline toute responsabilit&eacute; en cas de vol ou de perte d'un compte. La s&eacute;curit&eacute; de votre compte &eacute;tant enti&egrave;rement sous votre responsabilit&eacute;. 
Ne jamais donner son mot de passe et utiliser un mot de passe complexe permet d'&eacute;viter la quasi totalit&eacute; des attaques. Evitez &eacute;galement d'&eacute;crire un mot de passe sur un papier en cas de post-it war.
<br/><br/>
<strong>Article 8.</strong><br/>
En aucun cas un membre de l'&eacute;quipe ne vous demandera votre mot de passe ou vos informations de connexion.
<br/><br/>
<strong>Article 9.</strong><br/>
Se faire passer pour un mod&eacute;rateur ou un administrateur dans le but de forcer un joueur &agrave; faire une quelconque action ou de l'assimiler au sein du collectif Borg est s&eacute;v&egrave;rement sanctionn&eacute;. 
<br/><br/>
<strong>Article 10.</strong><br/>
Le non-respect d'un des articles de cette charte entrainera les sanctions appropri&eacute;es &agrave; la faute, sans r&eacute;clamation possible.
<br/><br/>
<strong>Article 11.</strong><br/>
Le Dr Manhattan et Tony Stark ne sont pas soumis au pr&eacute;sent r&eacute;glement.
}