@(message: String) @main("") {
<h1>T&eacute;l&eacute;charger</h1>
<br/>
<img src="@routes.Assets.at("images/screens/nexus.png")" alt="Android" class="downloadDevice"/>
<img src="@routes.Assets.at("images/screens/WP7.png")" alt="Windows Phone 7" class="downloadDevice"/>
<img src="@routes.Assets.at("images/screens/iphone.png")" alt="iPhone" class="downloadDevice" style ="opacity:0.42"/>
<div style="clear:both;"></div><br/>
<h2 class="metroBlue" style="margin-left:60px; display:inline;">Android</h2>
<h2 class="metroBlue" style="margin-left:55px; display:inline;">Windows Phone</h2>
<h2 class="metroBlue" style="margin-left:50px; display:inline;">iPhone</h2>
<div style="clear:both;"></div><br/>
<a href="https://market.android.com/details?id=com.aerilys.geowarfare.android" target="_blank">
<button class="btn btn-primary" style="margin-left:60px;">T&eacute;l&eacute;charger</button></a>
<a href="http://www.windowsphone.com/fr-FR/apps/60574c6a-4aa1-4c60-a323-2cd094f24186" target="_blank">
<button class="btn btn-primary" style="margin-left:110px;">T&eacute;l&eacute;charger</button></a>
<button class="btn disabled" style="margin-left:80px;">Bient&ocirc;t disponible</button>
<br/><br/><br/>
GeoWarfare est &eacute;galement disponible pour <a href="public/Downloads/webos.ipk">WebOS</a> et en version <a href="/game">web</a> pour ordinateurs, tablettes et mobiles.
<br/>
Version Windows 8 et application Chrome en d&eacute;veloppement !
}