@(message: String) @main("") {
<h1>Choisissez votre plateforme</h1>
<br/>
<article class="presentationBloc">
	<img src="@routes.Assets.at("images/screens/ics.png")" alt="Achievement unlocked : know how to read alt text" />
	<h2>Utilisateur d'Android ?</h2>
	Vous aimez Android ? Ca tombe bien, nous aussi ! GeoWarfare fonctionne sur tous les devices Android &agrave; partir de la version 2.2 (Froyo). Que vous soyez d&eaacute;tenteur d'un smartphone ou d'une tablette, c'est au travers d'une exp&eacute;rience riche en couleurs et en fonctionnalit&eacutes;s que vous pourrez conqu&eacute;rir le monde !
	<hr/>
	<h2>Fan de Redmond ?</h2>
	Que vous soyez utilisateur de Windows Phone 7, Windows Phone 8 ou de Windows 8, GeoWarfare est disponible pour votre plateforme ! Soyez pr&eacute;venu en temps r&eacute;el des derni&egrave;s attaques, partagez vos succ&egrave;s et naviguez au travers de l'interface Modern UI.
	<hr/>
	<h2>Physicien ou surfeur ?</h2>
	Si vous &ecirc;tes amateur de pommes, ou juste utilisateur d'une plateforme obscure, nous ne voulons certainement pas vous priver de jouer ! Notre application web offre une exp&eacute;rience de jeu agr&eacute;ble et sans compromis, que vous vous connectiez depuis votre ordinateur ou votre t&eacute;l&eacute;phone !
</article>
}