@(message: String) @main("") {
<div class="centre">
	<img src="@routes.Assets.at("images/UI/tablet_mockup.png")" alt="GeoWarfare" />
</div>
<br />
<br />
<span class="brandText"> Dans <span class="grayColorText">GeoWarfare</span>,
	le monde est votre terrain de jeu. A vous de vous y aventurer afin de
	conqu&eacute;rir les lieux qui vous entourent et d'y mener d'intenses
	combats.
</span>
<br />
<br />
<span class="brandText">Lancez-vous dans l'aventure et la guerre
	en vous <a href="/inscription">inscrivant</a> !
</span>
<hr />
<div class="presentationBloc">
	<img src="@routes.Assets.at("images/metro/mobile.png")" alt="Mobile" />
	<strong>Pensez mobile !</strong> <br /> Voyagez, d&eacute;couvrez de
	nouveaux lieux, partez &agrave; la rencontre du monde. O&uacute; que
	vous soyez, vous pouvez jouer &agrave; <span class="grayColorText">GeoWarfare</span>
	! Chaque nouvel endroit est un territoire &agrave; conqu&eacute;rir.
	Affirmez votre supr&eacute;matie sur votre restaurant favori, votre
	lieu de travail ou votre quartier. Il suffit d'un simple smartphone ou
	d'une tablette pour vous lancer dans la bataille !
</div>
<hr />
<div class="presentationBloc">
	<img src="@routes.Assets.at("images/metro/community.png")"  style="float: left; margin-right:10px;"
		alt="Community is awesome !"
		title="I say things others won't. That has value." /> <strong>Jouez
		en &eacute;quipe !</strong> <br /> Une guerre se gagne rarement seul. A vous
	de vous allier &agrave; d'autres joueurs pour accentuer votre
	domination et am&eacute;liorer votre puissance de feu. Formez une <span
		class="grayColorText">alliance</span>, augmentez votre puissance de
	feu, et faites-vous un nom qui sera redout&eacute; de tous !
</div>
<hr />
<div class="presentationBloc">
	<img src="@routes.Assets.at("images/metro/facebook.png")" alt="Facebook" /> <strong>Faites
		r&eacute;sonner la L&eacute;gende </strong> <br /> Les r&eacute;seaux sociaux font partie du
	coeur de <span class="grayColorText">GeoWarfare</span>. Partagez votre
	position sur Twitter. Affirmez votre supr&eacute;matie sur un secteur
	avec vos amis sur Facebook. Partagez des news avec les membres de votre
	alliance sur Google +. D&eacute;couvrez les lieux qui vous entourent
	gr&acirc;ce &agrave; Foursquare. Vous ne voulez pas jouer seul ? Pas de
	probl&egrave;me, nous avons pens&eacute; &agrave; vous !
</div>
<hr />
<div class="presentationBloc">
	<img src="@routes.Assets.at("images/metro/noun_award.png")"  style="float: left; margin-right:10px;"
		alt="Achievement unlocked : know how to read alt text" /> <strong>D&eacute;bloquez
		des succ&egrave;s !</strong> <br /> Au fur et &agrave; mesure de votre
	progression dans le jeu, vous d&eacute;bloquerez des <span
		class="grayColorText">succ&egrave;s</span>, marques de votre
	r&eacute;ussite, que vous pourrez partager avec vos amis. Votre
	premi&egrave;re bataille, votre arriv&eacute;e dans une alliance ou
	encore le moment o&ugrave; vous aurez plac&eacute; un 25e secteur sous
	votre coupe. Les succ&egrave;s sont <span class="grayColorText">votre</span>
	histoire, et nous tenons &agrave; ce qu'elle soit la plus
	r&eacute;ussie possible !
</div>
}
