@(message: String) @main(" - A propos") {
<h1>A Propos</h1>
<br/>
<strong>GeoWarfare</strong> est developp&eacute; par <a href="http://www.aerilys.fr">Aerilys</a> et <a href="http://florian-rousselet.fr/blog/">Clain</a>.
<br />
<br />
<strong>Contact : </strong>
<a href="mailto:neferetheka@@gmail.com">neferetheka@@gmail.com</a>
<br />
<br />
<img src="@routes.Assets.at("images/metro/noun_award.png")" class="rightIcon" alt="Noun Project" /> <br/>Ic&ocirc;nes du
<a href="http://thenounproject.com/terms-of-use/">Noun Project</a> :
domaine public ou license Creative Commons.<br/><br/>
<img src="@routes.Assets.at("images/icons/androide.png")" class="rightIcon" alt="Android" /><br/><a href="http://www.android.com">Android</a> est une marque de Google
<br/><br/>
<img src="@routes.Assets.at("images/metro/flag.png")" class="rightIcon" alt="Windows Phone 7" /><br/><a href="http://www.windowsphone.com">Windows Phone 7/8 et Windows 8</a> sont des marques de Microsoft
<br /><br/>
<br /> Police <em>Roboto</em> par
<a href="http://www.fontsquirrel.com/fonts/roboto">Google Android</a>
<br />
<br /> Tout autre contenu ou images sont soumis &agrave; la license suivante :
<br /><br/>
<a rel="license" target="_blank"
	href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img
	alt="Licence Creative Commons" style="border-width: 0;"
	src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
<br />
<br/>
<span xmlns:dct="http://purl.org/dc/terms/"
	href="http://purl.org/dc/dcmitype/InteractiveResource"
	property="dct:title" rel="dct:type">Donn&eacute;es et images du jeu
	GeoWarfare</span> de
<a xmlns:cc="http://creativecommons.org/ns#"
	href="http://www.aerilys.fr" property="cc:attributionName"
	rel="cc:attributionURL">http://www.aerilys.fr</a> est mis &agrave;
disposition selon les termes de la
<a rel="license"
	href="http://creativecommons.org/licenses/by-nc-nd/3.0/">licence
	Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de
	Modification 3.0 non transpos&eacute;</a>.
	
	<br/><br/><br/>
<strong>GeoWarfare</strong> est propuls&eacute; par <a href="https://www.gandi.net/"><em>Gandi</em></a>, <a href="http://www.playframework.org"><em>Play Framework</em></a> et  <a href=""><em>Nginx</em></a>
<br/>Mais nous utilisons aussi d'autres technologies fantastiques comme <a href="http://twitter.github.com/bootstrap/">Bootstrap 2.0</a>, <a href="http://http://jquery.com/">jQuery</a>,
 <a href="http://www.modernizr.com/">Modernizr</a>, <a href="#">Coffeescript</a>, et <a href="http://nivo.dev7studios.com/">Nivo Slider</a>.
 <br/>
 Nous utilisons &eacute;galement les API de <a href="https://dev.twitter.com/">Twitter</a>, <a href="https://developers.google.com/+/api/">Google +</a>
 , <a href="https://developer.foursquare.com/">Foursquare</a>, <a href="http://code.google.com/apis/maps/documentation/javascript/">Google Maps et <a href="">Open Street Map</a>.</a>
 <br/><br/>
 <h2>Coordonn&eacute;es de l'h&eacute;bergeur </h2><br/>
Gandi headquarters 63-65 boulevard Massena, Paris (75013), France<br/>
Paris RCS - French Trade Registry - num&eacute;ro 423 093 459.<br/>
Intracommunal VAT number FR81423093459<br/>
Tel : +33.(1)43.73.78.51<br/>
Fax: +33.(1)43.73.18.51<br/>
mail : direction@@gandi.net
}