@(message: String) @main("") {
<h1>Aide</h1>
<br/>
<h3>Qu'est-ce que GeoWarfare ?</h3>
Voyagez, d&eacute;couvrez de nouveaux lieux, partez &agrave; la rencontre du monde. O&ugrave; que vous soyez, vous pouvez jouer &agrave; GeoWarfare ! Chaque nouvel endroit est un territoire &agrave; conqu&eacute;rir. Affirmez votre supr&eacute;matie sur votre restaurant favori, votre lieu de travail ou votre quartier. Il suffit d'un simple smartphone pour vous lancer dans la bataille !
<hr/>
<h2>Comment jouer &agrave; GeoWarfare ?</h2>
GeoWarfare est actuellement disponible sur plusieurs plateformes, rendez-vous sur la page <a href="/telecharger">t&eacute;l&eacute;charger</a> pour choisir la v&ocirc;tre. 
<hr/>
<h2>Gestion des troupes</h2>
Chaque jour vos troupes (soldat, artilleur, h&eacute;licopt&egrave;re, char et avion) re&ccedil;oivent une production de base vous permettant de conqu&eacute;rir des secteurs. Vous pouvez augmenter votre production d'unit&eacute;s en capturant plus de secteurs, en gagnant des succ&egrave;s, en parrainant vos  amis ou encore en int&eacute;grant une alliance. Vos troupes sont votre force de frappe pour conqu&eacute;rir de nouveaux lieux et d&eacute;fendre ceux que vous poss&eacute;dez d&eacute;j&agrave;. 
<hr/>
<h2>Les secteurs</h2>
Gr&acirc;ce &agrave; vos troupes, vous pouvez capturer des secteurs (votre &eacute;cole, votre lieu de travail ou tout endroit que vous d&eacute;sirez !). Plus vous poss&eacute;dez de secteurs, plus votre force s'accroit et plus vous &ecirc;tes susceptible d'&ecirc;tre attaqu&eacute; par des ennemis. Pensez &agrave; disposer r&eacute;guli&egrave;rement vos troupes sur vos secteurs pour vous en assurez le contr&ocirc;le constant. 
Certains secteurs sont sp&eacute;ciaux, ils sont d&eacute;finis al&eacute;atoirement chaque jour, et permettent de doubler votre production. Attention si vous en poss&eacute;dez un, vos ennemis le convoiteront !
<hr/>
<h2>La carte</h2>
La carte vous permet de visualiser votre secteur  actuel, voir quel g&eacute;n&eacute;ral le poss&egrave;de et de le conqu&eacute;rir le cas &eacute;ch&eacute;ant ! Attention lors de votre attaque &agrave; bien mesurer vos forces et celles de l'ennemi. Gr&acirc;ce &agrave; l'espionnage, vous pourrez obtenir des informations sur les troupes que poss&egrave;de votre ennemi sur le secteur. Ne vous mesurez pas &agrave; plus fort que vous, sous peine d'&ecirc;tre &eacute;cras&eacute;. 
<hr/>
<h2>Les alliances</h2>
GeoWarfare est un jeu orient&eacute; social et votre appartenance &agrave; une alliance peut se r&eacute;v&eacute;ler d&eacute;terminante ! Production d'unit&eacute;s, prise de secteur et discussion autour du jeu sont les possibilit&eacute;s d'une alliance.
<hr/>
<h2>Les succ&egrave;s</h2>
Les succ&egrave;s repr&eacute;sentent vos faits de guerres au travers du jeu. Les  conqu&ecirc;tes, la production ou encore l'assiduit&eacute; sont r&eacute;compens&eacute;s par des succ&egrave;s ! Il existe aussi des succ&egrave;s cach&eacute;s et des succ&egrave;s &eacute;lites ! A vous de les d&eacute;couvrir et vous serez ainsi r&eacute;compens&eacute; !

}