@(message: String) @main("") {
<h1>Le monde est &agrave; vous</h1>
<br/>
<div class="centre">
	<img src="@routes.Assets.at("images/screens/Android10.jpg")" alt ="Map"/>
</div>
<article class="presentationBloc">
	<h2>Globe-trotter</h2>
	Dans GeoWarfare, pour dominer le monde, il va vous falloir voyager ! Aller de ville en ville, trouver de nouveaux secteurs, les conqu&eacute;rir et les conserver !
	Au fur et &agrave; mesure de vos victoires, votre arm&eacute;e s'agrandira, vous d&eacute;bloquerez de nouveaux succ&egrave;s, et peut-&ecirc;tre vous ferez-vous un nom !
	<hr/>
</article>
}